extends layout

block content
    h1= title

    

        if (toShow == null)
            h2 No instance to Update!
        else
            - let fishid = toShow._id
            - let name = toShow.name
            - let color = toShow.color
            - let life_span = toShow.life_span
            div.row(class='mb-2')
                div.mr-1 ID is:
                    div #{fishid}

                        - let actionid = "/resource/updatefish/" + fishid

                        form(id='fishForm', action=actionid, method="PUT")
                            div.form-group
                                label.fishAttr(for='name') fish name
                                input#name(type='text' name='name', value=name)
                            div.form-group
                                label.fishAttr(for='color') fish color
                                input#color(type='text' name='color', value=color)
                            div.form-group
                                label.fishAttr(for='life_span') fish life_span
                                input#life_span(type='number' name='life_span', value=life_span)
                            input(type="submit")

        script.
            document.forms['fishForm'].addEventListener('submit', (event) => {
                event.preventDefault();

                // TODO do something here to show user that form is being submitted

                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.text(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Update succeeded")

                    // TODO handle body
                }).catch((error) => {
                // TODO handle error
                    alert("Update failed " + error)
                });
            });
