extends layout

block content
    h1= title
    p Welcome to #{title}

    - let create = `dispatch(\"/fish/create\")`
    button.btn(class="btn-primary ml-1", onclick= create) Create

    - let item = results

    div(class="container-fluid")
        div(class="row m-1")
            each item, index in results
                - let destination = `dispatch(\"/fish/update?id=${item._id}\")`
                - let detail = `dispatch(\"/fish/detail?id=${item._id}\")`
                - let remove = `dispatch(\"/fish/delete?id=${item._id}\")` 
                div(class="col-sm-2")
                    ul
                        li #{item.name}
                        li #{item.life_span}
                        li #{item.color}

                button.btn(class="btn-primary ml-1", onclick= destination) Update
                button.btn(class="btn-primary ml-1", onclick= detail) Detail
                button.btn(class="btn-primary ml-1", onclick= remove) Delete

    script.
        function dispatch(path){
             window.location.href=path
        }
